 <div id="toggle">
		<ul class="button-group">
		  <li><a class="button tiny" id="switcher" title="点击切换">编辑</a></li>
		</ul>
</div>
<ul class="breadcrumbs">
  <li class="current"><a >个人成就</a></li>
  <li class="current"><a>开设示范课、研究课、公开课及承担教学（专题）讲座情况</a></li>
</ul>
<div id="edit">
	<table>
		<tr>
			<th>时间</th>
			<th>名称</th>
			<th>开课/讲座范围</th>
			<th>组织单位</th>
			<th>证明材料</th>
			<th>备注</th>
		</tr>
		<tbody>
			<tr data-ng-repeat="wl in curWlList">
			 <td><input type="text" class="span2" value="{{wl.time}}" id="time{{wl.id}}"  data-ng-mouseover="initDatePickerSingle('time'+wl.id)"></td>
	         <td><input type="text"   data-ng-model="wl.name"></td>
	         <td><input type="text"   data-ng-model="wl.range"></td>
	         <td><input type="text"   data-ng-model="wl.org"></td>
	         <td><input type="text"   data-ng-model="wl.proff"></td>
	         <td><input type="text"   data-ng-model="wl.remark"></td>
			</tr>
			 <tr >
        	<td colspan="6"  class="inputAreaBnt">
        			<a class="small button round large-12" data-ng-click="updateWorkLecture()">修改</a>
        	</td>
        </tr>
		</tbody>
	</table>
	<div class="inputAreaBnt">
		<table>
		<tr>
			<th>时间</th>
			<th>名称</th>
			<th>开课/讲座范围</th>
			<th>组织单位</th>
			<th>证明材料</th>
			<th>备注</th>
		</tr>
		<tbody>
			<tr>
				<td><input type="text" class="span2" value="" id="time"  ></td>
	            <td><input type="text" placeholder="名称" data-ng-model="newwl.name"></td>
	            <td><input type="text" placeholder="开课/讲座范围" data-ng-model="newwl.range"></td>
	            <td><input type="text" placeholder="组织单位" data-ng-model="newwl.org"></td>
	            <td><input type="text" placeholder="证明材料" data-ng-model="newwl.proff"></td>
	            <td><input type="text" placeholder="备注" data-ng-model="newwl.remark"></td>
			</tr>
			<tr>
				<td colspan="6">
	        		<a class="mall button round large-12" data-ng-click="saveWorkLecture()" data-ng-disabled="!newwl.name||!newwl.range||!newwl.org||!newwl.proff||!newwl.remark">添加</a>
	        	</td>
			</tr>
		</tbody>
		</table>
	</div>
</div>
<div id="preview">
<table>
    <tr>
        <th>时间</th>
			<th>名称</th>
			<th>开课/讲座范围</th>
			<th>组织单位</th>
			<th>证明材料</th>
			<th>备注</th>
    </tr>
    <tbody>
        <tr data-ng-repeat="wl in curWlList">
            <td class="short">{{wl.time}}</td>
            <td class="short">{{wl.name}}</td>
            <td class="short">{{wl.range}}</td>
            <td class="short">{{wl.org}}</td>
            <td class="short">{{wl.proff}}</td>
            <td>{{wl.remark}}</td>
        </tr>
    </tbody>
</table>
</div>